* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;

}

/* .bg img {
  top: 0;
  height: 600px;
  width: 100%;
} */

.row {
  color: #ffffff;
}


:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
  --color-default: #cecccc;
  --color-primary: #feb900;
  --color-secondary: #b6b8bd;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}


body {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ffc732;
  text-decoration: none;
}
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 20px;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
    color: white;
    /* background-color: #000000; */
  }
  .navbar .dropdown ul{
    background-color: #000000;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #222428;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    position: relative;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9996;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;
}

.hero .carousel {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}

.hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  inset: 0;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px;
  }
}

.hero .info h2 {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero .info h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero .info .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  border: 2px solid var(--color-primary);
}

.hero .info .btn-get-started:hover {
  background: var(--color-primary);
}

.hero .carousel-control-prev {
  justify-content: start;
}

@media (min-width: 640px) {
  .hero .carousel-control-prev {
    padding-left: 15px;
  }
}

.hero .carousel-control-next {
  justify-content: end;
}

@media (min-width: 640px) {
  .hero .carousel-control-next {
    padding-right: 15px;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 3;
  transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.3;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

/* about img zoom effect  */
#zoom {
  padding: 50px;
  /* background-color: green; */
  transition: transform .5s;
  /* width: 600px;
  height: 600px; */
  /* margin: 0 auto; */
}
#zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

/* CONTACT  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,900,300,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: gold;
  background: black;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: black;
  padding: 25px;
  margin: 20px 0;
}

#contact h3 {
  color: gold;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #DCDCDC;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: gold;
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: rgb(254, 255, 255);
  /* -webkit-transition:background 0.3s ease-in-out; */
  /* -moz-transition:background 0.3s ease-in-out; */
  /* transition:background-color 0.3s ease-in-out; */
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}




.cards:hover{
  opacity: 0.7;
}

/* ABOUT  */

.about {
  padding: 130px 0;
}

.about .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.about .heading h2 span {
  color: goldenrod;
}

.about .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.about h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 15px;
  padding: 0;
}

.about h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 8px 0;
}

.about h4 i {
  color: goldenrod;
  margin-right: 10px;
}

/* cardss  */
:root {
  /* --color1: rgb(0, 231, 255); */
  /* --color2: rgb(255, 0, 231); */
  /* --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg); */
  --charizard1: #fac;
  --charizard2: #ddccaa;
  --charizardfront: url(../cakes/american-heritage-chocolate-vdx5hPQhXFk-unsplash.jpg);
  --pika1: #54a29e;
  --pika2: #a79d66;
  --pikafront: url(../cookies/habib-dadkhah-bX7oRJ1XD2s-unsplash.jpg);
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
  --eeveefront: url(../donut/ddcc65ffb333543fdb7cab904819f0b7.jpg);
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;
  --mewtwofront: url(../cupcakes/jr-r-90HdOlGbjck-unsplash.jpg);
}



.card {

  width: 30.5vw;
  height: 30vw;
  width: clamp(200px, 61vh, 18vw);
  height: clamp(280px, 85vh, 25.2vw);

  @media screen and (min-width: 600px) {
    width: 61vh;
    height: 85vh;
    max-width: 500px;
    max-height: 700px;
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }

  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;

  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1),
  5px 5px 5px -5px var(--color2),
  -7px -7px 10px -5px transparent,
  7px 7px 10px -5px transparent,
  0 0 5px 0px rgba(255, 255, 255, 0),
  0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease,
  box-shadow 0.2s ease;
  will-change: transform,
  filter;

  background-color: #030303;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;

}

.card:hover {
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(0, 0, 0, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.card.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.card.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.card.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront);
}

@keyframes holoSparkle {

  0%,
  100% {
    opacity: .75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }

  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(.8) contrast(1.2);
  }

  13%,
  16% {
    opacity: .5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(.8);
  }

  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }

  55% {
    opacity: .33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {

  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }

  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }

  13%,
  17% {
    background-position: 0% 0%;
    opacity: .88;
  }

  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }

  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes holoCard {

  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }

  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }

  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }

  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }

  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}


html,
body {
  height: 100%;
  background-color: #000000;
  padding: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0.1px);
}

body {
  color: white;
  background-color: #000000;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

#app {
  position: relative;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px)
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}

html,
body,
main {
  min-height: 100%;
}

/* button  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  float: right;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background: #dde1e7;
  /* flex-direction: row; */
  /* padding: 30px; */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 30vh; */
  width: 50px;
  height: 50px;
  background: #dde1e7;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: fixed;
}

.box:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  /* background: transparent; */
  box-shadow: inset -3px -3px 7px #fff,
    inset 3px 3px 5px rgba(94, 104, 121, 0.712);
}

.box:hover:after {
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
}

.box i {
  cursor: pointer;
  background: #dde1e7;
  font-size: 20px;
  text-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
  transition: 1s ease;
}

.box:hover i {
  color: gold;
  transform: rotate(360deg);
}

/* ANOTHER CARDS  */
:root {
  --background-dark: #3b2d48;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
}

.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #000000 0%, #000000 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.hero-section2 {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #000000 0%, #000000 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.hero-section3 {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #000000 0%, #000000 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.hero-section4 {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #000000 0%, #000000 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* rating reviews  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: dark-to-light; */
  min-height: 20vh;
}

.outer {
  display: grid;
  place-items: center;
  min-height: inherit;
}

.ratings-box {
  display: flex;
  gap: 20px;
}

.ratings-box__item label {
  position: relative;
  cursor: pointer;
  display: block;
}

.ratings-box__item label input {
  display: none;
  position: absolute;
}

.ratings-box {
  position: relative;
}

.ratings-box__item p {
  display: inline-block;
  position: absolute;
  color: #FFF;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  margin-top: 10px;
  text-transform: uppercase;
}

.ratings-box__item label span.rating-star {
  width: 30px;
  height: 30px;
  display: block;
  background: yellow;
  position: relative;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


selector when using :has selector starts .ratings-box__item label span.rating-star::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: dark-to-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.ratings-box:has(.ratings-box__item label input:checked) .ratings-box__item span.rating-star::after {
  transform: translate(-50%, -50%) scale(0);
}

.ratings-box__item:has(label > input:checked)~.ratings-box__item label .star-line-box span.rating-star::after {
  transform: translate(-50%, -50%) scale(1);
}

.ratings-box__item:has(label > input:checked) p {
  opacity: 1;
}

selector when using :has selector Ends selector when using Javascript to add class starts .ratings-box__item label span.rating-star::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: dark-to-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.ratings-box__item.active~.ratings-box__item label .star-line-box span.rating-star::after {
  transform: translate(-50%, -50%) scale(1);
}

.ratings-box__item.active p {
  opacity: 1;
}

selector when using Javascript to add class ends .rating-star-line {
  position: absolute;
  width: 2px;
  height: 10px;
  background: yellow;
  display: block;
  opacity: 0;
}

.ratings-box__item input:checked~.star-line-box {
  animation: scaleAnim 0.4s linear;
  transform-origin: center;
}

@keyframes scaleAnim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}

.rating-star-line:nth-of-type(3),
.rating-star-line:nth-of-type(2) {
  transform: rotate(45deg);
  right: 8px;
  bottom: 22px;
  transform-origin: bottom;
}

.rating-star-line:nth-of-type(3) {
  transform: rotate(-45deg);
  left: 7px;
}

.rating-star-line:nth-of-type(4) {
  transform: rotate(0deg);
  left: calc(50% - 1px);
  bottom: unset;
  top: 24px;
}

.ratings-box__item input:checked~.star-line-box .rating-star-line:nth-of-type(2) {
  animation: topLinesAnim 0.4s 0.3s linear;
}

.ratings-box__item input:checked~.star-line-box .rating-star-line:nth-of-type(3) {
  animation: topLinesAnim2 0.4s 0.3s linear;
}

.ratings-box__item input:checked~.star-line-box .rating-star-line:nth-of-type(4) {
  animation: bottomLineAnim 0.4s 0.3s linear;
}

@keyframes topLinesAnim {
  from {
    transform: rotate(45deg);
    opacity: 1;
  }

  to {
    transform: rotate(45deg) scaleY(1.2) translateY(-5px);
    opacity: 0;
  }
}

@keyframes topLinesAnim2 {
  from {
    transform: rotate(-45deg);
    opacity: 1;
  }

  to {
    transform: rotate(-45deg) scaleY(1.2) translateY(-5px);
    opacity: 0;
  }
}

@keyframes bottomLineAnim {
  from {
    transform: rotate(0);
    opacity: 1;
  }

  to {
    transform: rotate(0) scaleY(1.2) translateY(5px);
    opacity: 0;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  outline: none !important;
  color: #fff;
}

.border-shape {
  background: #ffbe00 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
}

.border-shape::before {
  background: #ffbe00 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
}

.border-shape::after {
  background: #ffbe00 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
}




/*FOOTER*/
footer {
  width: 100%;
  background-color: #121619;
  color: #fff;
}

.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_header section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top_header span {
  padding: 0 1rem;
}

.top_header .fa {
  color: #ffbe00;
  font-size: 35px;
}

footer .border-shape {
  width: 40%;
}

footer .border-shape::before {
  width: 100%;
  left: 120px;
}

footer .border-shape::after {
  width: 100%;
  right: 120px;
}

footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}

.bottom_content a {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}

.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}


.copyright {
  padding: 0.8em 0;
  background-color: #1e1e1e;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}



@media (max-width:820px) {
  .top_header {
    padding: 1rem;
    display: block;
  }

  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }

  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }

  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
.allc{
  text-decoration: overline;
  padding: 20px;
  color: gold;
}

.carouselContainer {
	/* position: absolute; */
	/* top: 25vh; */
	/* left: 25vw; */
	width: 50vw;
	height: 50vh;
  margin-bottom: 100px;
}

.carousel {
	/* position: relative; */
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}

.carousel__panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25%;
	width: 50%;
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: sans-serif;
	font-size: 3vw;
	font-weight: 100;
	letter-spacing: 0.4em;
	line-height: 50vh;
	text-align: center;
	text-shadow: 0px 0px 8px black;
	text-transform: uppercase;
	transition: transform 0.5s, opacity 0.3s;
}

.carousel__panel.static {
	transition: none;
}

.carousel__panel--outView {
	opacity: 0;
}

.carousel__panel--inView {
	opacity: 1;
}

.carousel__panel--inView.carousel__panel--left {
	transform: translate(-50%) scale(0.75);
	opacity: 0.5;
}

.carousel__panel--inView.carousel__panel--right {
	transform: translate(50%) scale(0.75);
	opacity: 0.5;
}

.carousel__panel--inView.carousel__panel--center {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.carousel__panel--outView.carousel__panel--left {
	opacity: 0;
	transform: translate(-150%) scale(0.75);
}

.carousel__panel--outView.carousel__panel--right {
	opacity: 0;
	transform: translate(150%) scale(0.75);
}

.carousel__arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	color: #fff;
	font-size: 4vw;
	line-height: 50vh;
	text-align: center;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	opacity: 0.2;
	z-index: 2;
	cursor: pointer;
	transition: opacity 0.3s;
}

.carousel__arrow--right {
	right: 0;
}

.carousel__arrow:hover {
	opacity: 0.8;
}