*{
   font-family:'Times New Roman', Times, serif;
   font-size: large;
    
}

body{
    color: aliceblue;
    background-color:black;
}

.nav-item{
    float: left;
    margin-left: 75px;
    padding: 5px;

}

ul li a:hover{
    text-decoration:overline;
}

#ic{
color: #FFFF00 ;
}
#cnt{
    color: aliceblue;
}
#btn2{
     background-color: #FFFF00;
     color: black;
     padding: 10px;
    border-radius: 12px;
}
#btn2:hover{
    font-weight: bold;

}
.aboutus {
    text-align: center;
   margin-top: 100px;
}
.img {
    width: 90%;
    height: 50px;
    text-align: center;
   padding-bottom: 25px;
   display:block;
   padding: 10px 30px;
  
  
   
    

}
.p{
    text-align: left;
    padding-left: 30px;
    width: 50%;
   height: 0px;
   margin-left: 100px;
   margin-right: 140%;
   padding-inline-end: 350px;
 
}
ul{
    display: table;
    margin-left: 80%;
    text-align: left;
  display: inline-block;
    width: 100%;
    height: 30px;
   ;
   
    
    
}
.h2{
    text-align: right;
    margin-right: 20%;
   
   
}
.card{
    width: 190px;
   margin-left: 20px;
   color: aliceblue;
   background-color:black;
   margin-top: 70px;
   
}
.card-title{
    text-align: center;
    text-transform: capitalize;
}
.button {
    
    background-color: darkgoldenrod;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     transition-duration: 0.4s;
   
  }
    